.categories__title{
    font-size: var(--font-size32);
    line-height: var(--line-height120);
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.categories__text{
    font-size: var(--font-size16);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
}

.categories__inner--block{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:5rem;
}

.categories__list{
    display:flex;
    gap:3rem;
    flex-wrap: wrap;
}

.categories__item--card{
    width:23.4rem;
    height:23.4rem;
    border-radius: 2rem;
    border:solid 0.1rem var(--light-gray);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:1.6rem;
    cursor: pointer;
}

.categories__item--inner{
    text-align:center;
}

.categories__item--inner img{
    margin-bottom:2.4rem;
}

.categories__item--inner h3{
    font-size: var(--font-size20);
    line-height: var(--line-height120);
    font-weight: 600;
}

.categories__item--inner p{
    font-size: var(--font-size16);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
    margin-top:1.2rem;
}

.categories__item--card:hover{
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    transform:translateY(-1.6rem);
    transition:transform 0.3s ease-in-out;
}

.categories__item--card:hover h3{
    color:var(--orange);
    transition: color 0.3s ease-in-out;
}

@media(max-width:700px){
    .categories__list{
    justify-content: space-around;
}
}