.short-overview {
  margin-bottom: 2rem;
}

.video-player-section {
  margin-bottom: 30px;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 8px;
}

.video-container {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.module-container {
  margin-bottom: 1.2rem;
  padding: 1.6rem 2rem;
  background: white;
  border-radius: 0.8rem;
}

.module-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.module-title {
  color: #333;
  font-size: var(--font-size16);
  font-family:var(--font-family-Exo);
  font-weight:600;
  cursor: pointer;
}

.module-title.expanded .module-title--icon {
  transform: rotate(90deg);
  
}

.module-title--icon{
  transform: rotate(-90deg);
  transition: transform 0.2s ease;
  fill:var(--dark-gray);
  margin-right:0.8rem;
}

.module-title.expanded{
  color: var(--orange);
}

.lessons-container {
  padding-left: 20px;
}

.lesson-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  margin: 5px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-left: 3px solid transparent;
}

.lesson-item:hover {
  background: #e9ecef;
  color:var(--orange);
  transform: translateX(5px);
}

.lesson-item--title{
  display:flex;
  align-items: center;
  gap:0.8rem;
}

.lesson-title {
  font-family:var(--font-family--Jost);
  font-size:var(--font-size18);
  font-weight: 400;
  color: var(--black);
}

.lesson-duration {
  font-size: 0.9rem;
  color: #666;
  background: #dee2e6;
  padding: 3px 8px;
  border-radius: 4px;
}