.header__bottom{
    width:100%;
    height:6rem;
    max-width:192rem;
    background-color:var(--white-gray);
    display:flex;
    align-items: center;
}
.header__bottom--inner{
    display:flex;
    align-items: center;
}
.header__bottom--text{
    font-size:1.6rem;
    color:var(--dark-gray);
    font-family: var(--font-family--Jost);
    font-weight: 500;
}
.arrowIcon{
    fill:var(--gray);
    margin-left:0.8rem;
    margin-right:0.8rem;
}
.pathText{
    color:var(--gray);
    font-weight:400;
}

.noIcon{
    display:none;
}