.articles__title{
    font-size: var(--font-size32);
    line-height: var(--line-height120);
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.articles__text{
    font-size: var(--font-size16);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
}

.articles__inner--block{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:5rem;
}

.articles__list{
    display:flex;
    gap:3rem;
    flex-wrap: wrap;
}

.articles__item--card{
    position:relative;
    width:100%;
    max-width:41rem;
    height:44rem;
    border-radius: 2rem;
    border:solid 0.1rem var(--light-gray);
    display:flex;
    flex-direction: column;
    cursor: pointer;
    z-index:1;
}

.articles__item--img{
    display:block;
}

.articles__item--inner{
    padding:0 2rem 2rem 2rem;
}

.articles__item--author{
    color:var(--black);
}

.articles__item--inner h3{
    font-size: var(--font-size20);
    line-height: var(--line-height120);
    font-weight: 600;
    margin-top:1.2rem;
}

.articles__item--inner p{
    font-size: var(--font-size16);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
    margin-top:2rem;
}

.articles__item--card:hover{
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    transform:translateY(-1.6rem);
    transition:transform 0.3s ease-in-out;
}

.articles__item--card:hover h3{
    color:var(--orange);
    transition: color 0.3s ease-in-out;
}

.articles__item--info{
    display:flex;
    gap:0.8rem;
    align-items: center;
    margin:1.6rem 0;
}

.articles__item--text{
    display:flex;
    flex-direction: column;
    gap:0.8rem;
    font-size: var(--font-size18);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
}


@media(max-width:1400px){
    .articles__list{
    justify-content: space-around;
}
}

@media(max-width:700px){
    .articles__list{
    justify-content: space-around;
}
}