

.filters__tag--section{
    display: flex;
    flex-wrap: wrap;
    gap:0.8rem;
}
.filters__tag--block {
    display: inline-block;
}

.filters__tag--button {
    background-color: var(--white);
    border: 1px solid #ddd;
    border-radius: 0.8rem;
    padding: 0.8rem 2rem;
    font-family: var(--font-family--Jost);
    font-size: var(--font-size18);
    line-height: var(--line-height150);
    color: var(--dark-gray);
    cursor: pointer;
    transition: all 0.2s ease;
}

.filters__tag--button:hover {
    background-color: var(--white-gray);
    color:var(--black);
}

.filters__tag--button.active {
    background-color: var(--white-gray);
    color: var(--black);
    border-color: var(--white-gray);
}