.courses-detail--header {
  position:relative;
  width:100%;
  height: 29rem;
  background-color: var(--black);
  color:var(--white);
  display: flex;
  align-items: center;
  font-size: var(--font-size32);
  font-family: var(--font-family-Jost);
  font-weight: 600;
  z-index:1;
}

.courses-detail--photography{
    padding:0.8rem 1.2rem;
    background-color:var(--dark-gray);
    font-size:var(--font-size16);
    font-weight: 600;
    font-family: var(--font-family-Jost);
    border-radius: 0.8rem;
}

.courses-detail--by{
    font-size:var(--font-size16);
    font-weight: 600;
    font-family: var(--font-family-Jost);
    color:var(--gray);
    margin-left: 2rem;
}

.courses-detail--name{
    margin-left: 1rem;
        font-size:var(--font-size16);
    font-weight: 400;
    font-family: var(--font-family-Jost);
    color:var(--white);
}

.courses-detail--title{
    width:100%;
    max-width:85rem;
    margin-top:2rem;
    font-size:var(--font-size48);
    font-weight: 600;
}


.cardCourses__item--info{
    max-width:60.3rem !important;
}
.cardCourses__item--text{
    color:var(--gray);
    font-weight:400
}

.courses-detail--card{
    position:absolute;
    top:5rem;
    right:31.5rem;
     background-color:var(--white);
     border-radius:2.15rem;
}

.cardCourses-detail--inner{
    width:100%;
    max-width:26.1rem;
    height:9.8rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    line-height:0;
    margin:0 auto;
}


.newPrice{
    margin-left:0;
    font-weight:600;
}