.header{
    height:7.2rem;
    display: flex;
    align-items: center;
}

.header__inner{
    width:100%;
    max-width:129rem;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    width:100%;
    max-width:70.2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__list{
    display:flex;
    align-items: center;
    list-style: none;
    gap:3.2rem;
    font-size: var(--font-size16);
}

.header__link{
    color:var(--black);
    font-size: var(--font-size16);
    font-weight:500;
}

.header__link:hover{
    color:var(--orange);
    transition: color 0.2s ease-in-out;
}

.nav__burger--menu{
    display:none;
    width:3rem;
    cursor: pointer;
    border-bottom:solid 0.2rem var(--black);
}

.nav__burger--menu::after{
    content:"";
    display:block;
    width:3rem;
    height:0.2rem;
    background-color:var(--black);
    margin-bottom:0.6rem;
}

.nav__burger--menu::before{
    content:"";
    display:block;
    width:3rem;
    height:0.2rem;
    background-color:var(--black);
    margin-bottom:0.6rem;
}

.nav__burger--menu:hover::after{
    background-color:var(--orange);
    transition: background-color 0.2s ease-in-out;
}

.nav__burger--menu:hover::before{
    background-color:var(--orange);
    transition: background-color 0.2s ease-in-out;
}

.nav__burger--menu:hover{
    border-bottom:solid 0.2rem var(--orange);
    transition: border-bottom 0.2s ease-in-out;
}

.header__auth{
    display:flex;
    align-items: center;
    gap:1.6rem;
    font-size: var(--font-size16);
}

.header__search{
    cursor: pointer;
}

@media(max-width: 1400px) {
    .header{
        padding:0 2rem;
    }
}

@media(max-width: 700px) {
    .header__list, .header__search, .header__auth{
        display:none;
    }

    .nav__burger--menu{
        display:block;
        align-items: flex-end;
    }

    .header__nav{
        justify-content: flex-end;
    }
}