.faqs{
    margin-top:6rem;
}

.faqs__title{
    margin-bottom:3rem;
}

.faqs__list {
  columns:2;
  column-gap: 3rem;
  margin:0;
  padding:0;
}

.faqs__list > li {
    position: relative;
    font-size: var(--font-size16);
    line-height: var(--line-height120);
    font-style:var(--font-family-Exo);
    background-color: var(--white-gray);
    padding:2rem 3rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    align-self: start;  /* добавляем — блоки не будут растягиваться */
    break-inside: avoid;  /* не разрывать вопрос-ответ. Обычно используется при печати страницы и помогло не меньшать первый впорос во второй колонке */
    margin-bottom:3rem;
}

.faqsArrowIcon{
    position: absolute;
    top:2.5rem;
    right:3.6rem;
    transform:rotate(90deg);
    fill:var(--gray);
}

.faqs__answer{
    display:none;
    width:100%;
    max-width:52rem;
    font-size:var(--font-size16);
    line-height:var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
    margin-bottom:1.2rem;
    font-weight:400;
}

.faqs__list > li.active .faqs__answer{
    display:block;
}

.faqs__list > li.active>span{
  color:var(--orange);
}

.faqs__img{
    display:block;
    margin-top:3rem;
}