.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    font-size: var(--font-size18);
    padding:0;
}

.prev, .next{
    width:4.8rem;
    height:4.8rem;
    background:none;
    outline:none;
    text-decoration: none;
    color:var(--black);
    border-radius:50%;
    border:0.1rem solid var(--light-gray);
    cursor: pointer;
    font-family:var(--font-family--Jost);
    font-weight: var(--font-weight700);
    font-size:var(--font-size18);
}

.page-item{
     width:4.8rem;
     height:4.8rem;
     color:var(--black);
     font-weight: 600;
     border:0.1rem solid var(--light-gray);
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}


.activePage{
    background-color: var(--black);
    color:var(--white);
}

.page-link .activePage{
     color:var(--white);
}

.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}