.cardCourses__title{
    font-size: var(--font-size32);
    line-height: var(--line-height120);
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.cardCourses__text{
    font-size: var(--font-size16);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
}

.cardCourses__inner--block{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.cardCourses__list{
    display:flex;
    gap:3rem;
    flex-wrap: wrap;
}

.cardCourses__item--card{
    position:relative;
    width:100%;
    max-width:41rem;
    height:47.4rem;
    border-radius: 2rem;
    border:solid 0.1rem var(--light-gray);
    display:flex;
    flex-direction: column;
    cursor: pointer;
    z-index:1;
}



.cardCourses__item--img{
    display:block;
}

.cardCourses__item--inner{
    width:58rem;
    padding:0 2rem 2rem 2rem;
}

.cardCourses__item--author{
    color:var(--black);
}

.cardCourses__item--inner h3{
    font-size: var(--font-size20);
    line-height: var(--line-height120);
    font-weight: 600;
    margin-top:1.2rem;
}

.cardCourses__item--inner p{
    font-size: var(--font-size16);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
    margin-top:2rem;
}

.cardCourses__item--card:hover{
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    transform:translateY(-1.6rem);
    transition:transform 0.3s ease-in-out;
}

.cardCourses__item--card:hover h3{
    color:var(--orange);
    transition: color 0.3s ease-in-out;
}

.cardCourses__item--info{
    width:100%;
    max-width:50.6rem;
    display:flex;
    gap:2.4rem;
    align-items: center;
    margin-top:1.6rem;
}

.cardCourses__item--text{
    font-size: var(--font-size16);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
    margin-left:0.8rem;
}

.price{
    margin-left:0;
}


.cardCourses__item--price{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:2rem;
    width:100%;
    max-width:37rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-top: solid 0.1rem var(--light-gray);
    margin-left:0;
    padding-top:1.7rem;
    z-index:1000;
}

.cardCourses__item--list{
    width:100%;
    max-width:99rem !important;
    height:25rem;
    flex-direction: row;
}

.cardCourses__item--listPrice{
    left:43%;
    width:100%;
    max-width:55rem;
    transform:none;
}

.cardCourses__item--listImg{
    border-radius:0rem 0rem 2rem 2rem;
}

.cardCourses__item--link:hover{
    color:var(--orange) !important;
    transition: color 0.3s ease-in-out;
}

@media(max-width:1400px){
    .cardCourses__list{
    justify-content: space-around;
}
}

@media(max-width:700px){
    .cardCourses__list{
    justify-content: space-around;
}
}