.filters{
    display:flex;
    flex-direction: column;
    width:27rem;
    position: absolute;
    top: 10px;
    z-index: 1000;
}

.filters__title{
    font-size:var(--font-size20);
    font-weight: 600;
    margin-top:3rem;
    margin-bottom:2rem;
}

.firstTitle{
    margin-top:0;
}

.filters__block{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:0.5rem;
}
.filters__label{
    font-family: var(--font-family--Jost);
    font-size:var(--font-size18);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    margin-left:0.4rem;
}

.filters__count{
    font-family: var(--font-family--Jost);
    font-size:var(--font-size18);
    line-height: var(--line-height150);
    color:var(--dark-gray);
}

/* Стили для выбранных чекбоксов */
input[type="checkbox"]:checked{
    background-color: var(--dark-gray); /* Серый фон */
    padding: 5px;
    border-radius: 4px;
}

input[type="checkbox"]:checked + label.filters__label{
    color: #000000; /* Черный текст */
    font-weight: 400;
}

.filters__count--checked {
    color: #000000; /* Черный текст */
}

/* Стили для самого чекбокса при выборе */
input[type="checkbox"]:checked {
    accent-color: var(--dark-gray); /* Цвет фона чекбокса в некоторых браузерах */
}

/***********
MEDIA QUERIES
***********/

@media(max-width: 1400px) {
    .filters{
        display:none;
    }
}
