footer{
    background-color: var(--white-gray);
}
.footer__inner{
    padding-top:9rem;
}

.footer__inner--block{
    display:flex;
    justify-content: space-between;
    margin-bottom:5rem;
}

.footer__text{
    width:100%;
    max-width:34.1rem;
    margin-top:3.2rem;
    font-size: var(--font-size16);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
}

.footer__title{
    text-transform:uppercase;
    font-size: var(--font-size20);
    line-height: var(--line-height120);
    color:var(--black);
    margin-bottom: 3.2rem;
    font-weight:600;
}

.footer__list{
    display:flex;
    flex-direction: column;
    gap:1.6rem;
    list-style: none;
    font-size: var(--font-size16);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
    padding:0;
    margin:0;
}

.footer__item--link{
    text-decoration: none;
    color:var(--dark-gray);
    font-size:var(--font-size18);
    font-weight:500;
    font-family: var(--font-family--Jost);
}

.footer__item--link:hover{
    color:var(--orange);
    transition: color 0.2s ease-in-out;
}

.footer__contact{
    display:flex;
    flex-direction: column;
    list-style: none;
    font-size: var(--font-size16);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
    padding:0;
    margin:0;
}

.footer__address{
    font-size: var(--font-size18);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
    margin-bottom:1.6rem;
    font-weight:500;
}

.footer__phone{
    margin-bottom:1.6rem;
}

.footer__social{
    margin-right:1.2rem;
}

.footer__social:hover{
    color:var(--orange);
    transition: fill 0.2s ease-in-out;
    cursor:pointer;
}

.footer__copyright{
    border-top:0.1rem solid var(--light-gray);
    padding:3.2rem 0;
    text-align: center;
    font-size: var(--font-size16);
    line-height: var(--line-height150);
    color:var(--dark-gray);
    font-style:var(--font-family--Jost);
}

@media(max-width: 1100px) {
    .footer__inner--block{
        flex-direction: column;
        gap:3.2rem;
        align-items: center;
    }
    .footer__contact{
        align-items: center;
    }
}