.statistic-card__block{
    display:flex;
    flex-wrap: wrap;
    gap:3rem;
}

.statistic-card{
    width:30rem;
    height:18.1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:var(--white-gray);
    border-radius:2rem;
}

.statistic-card__inner{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1.6rem;
}

.statistic-card__title{
    font-size: var(--font-size32);
    line-height: var(--line-height120);
    font-weight: 600;
    color:var(--orange);
}

.statistic-card__value{
    font-size: var(--font-size18);
    line-height: var(--line-height150);
    color:var(--black);
    font-style:var(--font-family--Jost);
    font-weight:600;
}

/***********
MEDIA QUERIES
************/

@media(max-width:1400px){
    .statistic-card__block{
    justify-content: space-around;
}
}