:root{
  font-size: 62.5%;
  --font-family-Exo:'Exo', sans-serif;
  --font-family--Jost:'Jost', sans-serif;
  --black:#000;
  --white:#fff;
  --gray:#9D9D9D;
  --green:#55BE24;
  --light-gray:#EAEAEA;
  --dark-gray:#555;
  --white-gray:#F5F5F5;
  --orange:#FF782D;
  --hoverOrange:#FFAB2D;
  --red:#F51A1A;
  --line-height120:120%;
  --line-height150:150%;
  --line-height215:215%;
  --font-size16:16px;
  --font-size18:18px;
  --font-size20:20px;
  --font-size32:32px;
  --font-size48:48px;
}

body{
  width:100%;
  max-width:192rem;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-family-Exo);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container{
  width:100%;
  max-width: 129rem;
  margin: 0 auto;
}

@media(max-width: 1400px) {
    .container{
        padding: 0 2rem;
    }
}