.rating-display{
  display:flex;
  align-items:center;
  margin-top:2rem;
  margin-bottom:2rem;
}

.rating-value{
    font-size:var(--font-size48);
    font-family:var(--font-family-Exo);
    line-height: var(--line-height120);
    font-weight:600;
    margin-right:1.2rem;
    color:var(--black);
}
.stars-block{
    display:flex;
    align-items:center;
}
.stars-container{
  display:flex;
  align-items:center;
  gap:0.4rem;
  margin-right:0.8rem;
}

.star{
  width:1.34rem;
  height:1.85rem;
}

.rating-line{
  width:100%;
  max-width:65rem;
  height:1rem;
  background-color:var(--light-gray);
  margin-left:2rem;
}