.all-courses__inner {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
}

.left-section{
    grid-column: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.right-section{
    grid-column: 2;
}

.courses-row{
    grid-row: 2;
    grid-column:1;
    display:flex;
    gap:1.6rem;
    padding:2rem;
}

.list{
   display:grid;
   grid-template-columns: repeat(3,1fr);
   gap:2rem;
}

.courses-pagination{
    grid-row:3;
    margin:0 auto;
    display:flex;
}