.all-courses__inner {
    display: grid;
    grid-template-columns: 990px 1fr;
    grid-template-rows: auto minmax(1104px, auto) auto;
}   

.left-section{
    grid-column: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:4rem;
    padding-top:0.6rem;
}

.right-section{
    grid-column: 2;
}

.courses-row{
    grid-row: 2;
    grid-column:1;
    display:flex;
    gap:1.6rem;
}

.list{
   display:grid;
   grid-template-columns: repeat(3,1fr);
   gap:2rem;
}

.courses-pagination{
    grid-row:3;
    margin:0 auto;
    display:flex;
}

.right-section{
    grid-column: 2;
    display:flex;
    flex-direction: column;
    gap:1.6rem;
    padding:2rem;
    position:relative;
    z-index:100;

}