.button-primary{
    padding: 1rem 2.4rem;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 2.4rem;
    border: none;
    cursor: pointer;
    font-size: var(--font-size16);
    font-family: var(--font-family-Jost);
    font-weight: 500;
    line-height:1.75;
}

.button-primary:hover{
    background-color: var(--hoverOrange);
    color: var(--white);
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}